@charset "utf-8";

#featuresHeader {
    margin-top: 80px;
    border-top: 1px solid #bebebe;
}

#features{
    text-align: center;
    margin-top: 20px;
}

#features img {
    margin: 20px 0;
}

#features .btn-block {
    padding: 10px;
}

.kozep {
    text-align: center;
}

#slider-container {
    padding: 0;
}

#kereso {
    width: 250px;
    float: left;
}

.navbar-brand {
    padding: 5px 15px;
}

/*slider*/
#myCarousel .item {
    height: 450px;
    color: #fff;
    text-align: center;
}

#slide1 {
    background: url('../images/item1.png') top center no-repeat;
}

#slide2 {
    background: url('../images/item2.png') top center no-repeat;
}

.carousel-caption {
    font-size: 20px;
}


.carousel-caption h3{
    font-size: 32px;
}

.tab-pane {
    padding-top: 15px;
}

.tab-pane img.thumbnail{
    margin: 0 20px 10px 0;
}