@charset "utf-8";


.navbar-brand {
    padding: 5px 15px;
}

<<<<<<< HEAD
/*slider*/
#myCarousel .item {
    height: 450px;
    color: #fff;
    text-align: center;
}

#slide1 {
    background: url('') top center no-repeat;
=======
#kereso {
    width: 250px;
    float: left;
>>>>>>> e65a79135e6c6d5c645f47632bb2cb1b261f1815
}